#root{
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: darkcyan;
}

body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: -moz-grid-group;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


input{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 200px;
}

button{
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f4f4f4;
    cursor: pointer;
}